:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #FAACC4;
    --hotmag: #732634;
    --magenta: #8C2641;
    --aqua: #86fbfb;
    --white: #F2CED8;
    --font-size: 1.3rem;
    --poppins: 'Poppins', sans-serif;
    --sans: 'Barlow Condensed', sans-serif;
    --IBM: 'IBM Plex Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--poppins);
    color: var(--white);
    background-color: var(--black);
    font-size: var(--font-size);
}
h1, h2, h3 {
    margin: 0;
}
a {
    color: var(--hotmag);
}
a:hover {
    color: var(--magenta);
    text-decoration: none;
}

#intro {
    padding-bottom: 10rem;
}
#intro p {
   font-size: 1rem;
   line-height: 1.5;
}
#intro .name {
    font-family: var(--IBM);
}
.name span {
    font-size: 4rem;
    color: var(--plum);
    font-family: var(--poppins);
    display: block;
}

#intro h2 {
    font-size: 4rem;
}

#contact {
    background-color: var(--hotmag);
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    display: block;
}
#contact p{
    font-size: 1rem;
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem;
}
#contact button {
    background-color: var(--black);
    border: none;
    color: var(--white);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}
#contact button:hover {
    background-color: var(--plum);
    color: var(--black);
}
nav{
    font-family: var(--IBM);
    font-size: 80%;
}
nav h1 a {
    font-family: var(--poppins);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}