:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #FAACC4;
    --hotmag: #732634;
    --magenta: #8C2641;
    --aqua: #86fbfb;
    --white: #F2CED8;
    --font-size: 1.3rem;
    --poppins: 'Poppins', sans-serif;
    --sans: 'Barlow Condensed', sans-serif;
    --IBM: 'IBM Plex Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--poppins);
    color: var(--white);
    background-color: var(--black);
    font-size: var(--font-size);
}
h1, h2, h3 {
    margin: 0;
}
a {
    color: var(--hotmag);
}
a:hover {
    color: var(--magenta);
    text-decoration: none;
}

#intro {
    padding: 4rem 1rem 10rem 1rem;
    margin: 0 auto;
    max-width: 1200px;

}
#intro p {
   font-size: 1rem;
   line-height: 1.5;
}
#intro .name {
    font-family: var(--IBM);
}
.name span {
    font-size: 4rem;
    color: var(--plum);
    font-family: var(--poppins);
    display: block;
}

#intro h2 {
    font-size: 4rem;
}

#contact {
    background-color: var(--hotmag);
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    display: block;
    border: 3px solid var(--plum);
}
#contact h2{
    padding: 1rem;
}
#contact p{
    font-size: 1.2rem;
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem;
}
#contact button {
    background-color: var(--black);
    border: none;
    color: var(--white);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}
#contact button:hover {
    background-color: var(--plum);
    color: var(--black);
}
nav{
    font-family: var(--IBM);
    font-size: 80%;
}
nav h1 a {
    font-family: var(--poppins);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav li:first-child{
    flex-basis: 100%;
    text-align: center;
}
nav a {
    text-decoration: none;
    display: block;
    color: var(--white);
}
nav a:hover {
    color: var(--magenta);
}
nav [class*="fa-"]{
    font-size: 150%;
    color: var(--aqua);
}
nav [class*="fa-"]:hover {
    color: var(--magenta);
}
nav [class*="fa-solid fa-code"] {
    font-size: 100%;
    text-align: center;
    padding-right: 0.5rem;
}
nav .button {
    padding: 0.5rem;
    border-radius: 6px;
    background-color: var(--magenta);
    
}
nav .button:hover {
    background-color: var(--hotmag);
    color: var(--white);
}
footer{
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
}
footer ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
footer a{
    font-size: 200%;
}



















@media (min-width:850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
    }
}